// setup
CL_Context  ctx = CL_Context_Create();
CL_Context_PrintInfo(&ctx);
CL_Pipeline pip = CL_Pipeline_FromFile(&ctx, "kernels/raytracer.cl", "trace", "-I ./kernels");
CL_Image    img = CL_Image_Create(&ctx, 800, 600);
CL_Buffer   buf = CL_BUFFER_NEW_DATA(&ctx, MyStruct, data, 1024, CL_MEM_READ_ONLY);

// set args and run
CL_ARGS_BEGIN(&pip)
    CL_ARG_IMAGE(&img)
    CL_ARG_BUFFER(&buf)
    CL_ARG_FLOAT(0.5f)
CL_ARGS_END
CL_Dispatch2D_Auto(&ctx, &pip, 800, 600);

// zero-copy readback via mapped buffer
float *pixels = (float *)CL_Buffer_Map(&ctx, &buf, CL_MAP_READ);
// ... use pixels ...
CL_Buffer_Unmap(&ctx, &buf, pixels);

// cleanup
CL_Image_Destroy(&img);
CL_Buffer_Destroy(&buf);
CL_Pipeline_Destroy(&pip);
CL_Context_Destroy(&ctx);